@charset "utf-8";
/*General*/
html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    color: #fff;
	background-color: #399ffd;
    background-image: url(../img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    touch-action: manipulation;
}

* {
    outline: none !important;;
}
	
p {
    margin: 0;
	font-size: 18px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
.container {
    max-width: 540px;
}
}

@media (min-width: 768px) {
.container {
    max-width: 720px;
}
}

@media (min-width: 992px) {
.container {
    max-width: 960px;
}
}

@media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.d-none {
    display: none !important;;
}

@media (min-width: 768px) {
.d-md-none {
    display: none!important;
}

.d-md-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
}

/*Top section*/
section.top-section {
    border-bottom: 12px solid #4ec9fe;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
	
.player-image-box {
    width: calc(50% - 10px);
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 20%;
}

.time-box {
    width: 20px;
	padding: 3% 4px 2%;
	background: #4ec9fe;
}	
	
.timebox-bar {
    background: #fcfdfd;
    width: 100%;
    height: 100%;
}

.timebox-bar-progress {
    background: #fcfdfd;
    width: 100%;
    height: 100%;
}

/*Numbers section*/	
section.numbers-section {
    padding-top: 25px;
}

section.numbers-section .row {
    padding: 0 70px;
    margin-bottom: 14px !important;
}

.number-flex-box {
	display: flex;
	column-gap: 14px;
}

.number-box {
	width: 60px;
	height: 60px;
	background: #000546de;
	border-radius: 5px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 52px;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
    box-shadow: 0 0 0 2px #0b1168;
}

.middle-number-box .number-box {
	width: 100px;
}

.big-number-box .number-box {
	width: 150px;
}

/*Results section*/
.results-section-inner {
    background: #000546de;
    border-radius: 7px;
    position: relative;
    margin: 12px 42px 15px;
    padding: 5px 20px 12px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #0b1168;
}

input.result {
    color: #fff;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
    line-height: 37px;
	font-style: italic;
	width: 100%;
    padding: 1px 2px;
    -webkit-appearance: none;
    appearance: none;
}

input.result.done {
    pointer-events: none;
}

.results-section-bottom {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
    justify-content: space-between;
}

.result-line {
    width: 100%;
    display: flex;
	align-items: center;
	flex-wrap: wrap;
    row-gap: 12px;
}

.message-box {
    text-align: center;
}

.error-box-message p {
    word-break: break-word;
}

.user-number-box {
    font-size: 50px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 4px;
    line-height: 47px;
    padding: 0 10px 2px;
    min-width: 120px;
    max-width: 50%;
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-number.correct {
    border-color: green;
    box-shadow: 0 0 0 2px green;
}

.user-number.false {
    border-color: red;
    box-shadow: 0 0 0 2px red;
}

.js-number.done {
    box-shadow: 0 0 0 2px #fff;
}
	
.js-result-box {
    font-size: 30px;
    color: yellow;
}

/*Bottom section*/
.bottom-section-inner {
    margin: 0 42px;
}

.btn-flex-box { 
    display: flex;
    column-gap: 10px;
}

.button {
    background: #000546de;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #0b1168;
    color: #fff;
    width: 150px;
	padding: 6px 12px;
    margin: 0 0 12px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
	cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .1s ease-in-out;
}

button.solve.done {
    pointer-events: none;
}


/*Keyboard*/
section.keyboard-section {
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: 0.3s ease height;
}

section.keyboard-section.show {
    height: 200px;
    visibility: visible;
}

section.keyboard-section .container {
    padding-top: 2px;
    padding-bottom: 2px;
}

.keyboard-section-inner {
    background: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 0 2px #0b1168;
    padding: 2px;
}

.keyboard-flex-box {
    display: flex;
    column-gap: 2px;
    row-gap: 2px;
    flex-wrap: wrap; 
}

button.keyboard-btn {
    font-size: 25px;
    width: calc(25% - 2px);
    flex-grow: 1;
    border-radius: 5px;
    background: #000546de;
    color: #fff;
    line-height: 35px;
    padding: 0;
    padding-bottom: 5px;
    border: 1px solid #fff;
    -webkit-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .1s ease-in-out;
}

button.keyboard-btn-half-width {
    width: calc(12.5% - 2px);
}

.active {
    animation: 0.08s linear 0s 1 normal none running click;
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
    .user-number-box {
        max-width: 120px;
    }
}

/*Mobile*/
@media (max-width: 767px) {
section.numbers-section {
    padding-bottom: 15px;
    padding-top: 20px;
}

.player-image-box {
	padding-bottom: 40%;
}
	
.number-box {
    width: 40px;
    height: 40px;
    font-size: 34px;
    line-height: 36px;
}

.main-number-box .number-box {
    width: 45px;
    height: 45px;
    line-height: 42px;
    font-size: 35px;
}

.number-flex-box {
    column-gap: 7px;
}

section.numbers-section .row {
    padding: 0;
}

section.numbers-section .row:last-child {
    margin: 0 !important;
}

.middle-number-box .number-box {
    width: 60px;
}

.big-number-box .number-box {
    width: 80px;
}

section.results-section {
    padding-bottom: 15px;
}

.results-section-inner {
    margin: 0;
	padding: 5px 10px 10px;
}
	
.results-section-bottom {
	min-height: auto;
}

.user-number-box {
    font-size: 34px;
    height: 40px;
    min-width: 80px;
    line-height: 37px;
    padding-bottom: 0;
}

.js-result-box {
    order: -1;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    min-height: 32px;
}

input.result { 
    font-size: 26px;
    line-height: 35px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message-box {
    margin-bottom: 0px;
}

.error-box-message p {
    margin-bottom: 3px;
}

.bottom-section-inner {
    margin: 0;
}

section.bottom-section:not(.d-md-none) .bottom-section-inner .row {
    justify-content: center !important;
}

.button {
    border: 4px solid #fff;
    border-radius: 8px;
}

button.keyboard-btn {
    line-height: 40px;
    padding-bottom: 0;
}
}

@keyframes click { 100% { transform: scale(0.95); } }

.player-image-box.blue-player {
	background-image: url(../img/avataaars1.svg);
}
.player-image-box.red-player {
	background-image: url(../img/avataaars2.svg);
}